@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  /* Primary */
  --orange: hsl(25, 97%, 53%);

  /* Neutral */
  --dark-blue: hsl(213, 19%, 18%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --very-dark-blue: hsl(216, 12%, 8%);
  --white: hsl(0, 0%, 100%);

  /* font */
  --font-family-overpass: "Overpass", Arial, Helvetica, sans-serif;
}

html,
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: var(--font-family-overpass);
  font-size: 15px;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

image {
  border: 0;
  display: block;
}

p {
  font-size: 15px;
}

.page {
  align-items: center;
  background-color: var(--very-dark-blue);
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 1.5rem;
  width: 100vw;
}
